.textoNaranja {
	color: #FECE1A !important;
}
.textoBlanco {
	color: #FFFFFF !important;
}
.textoVerde {
	color: #82BC00 !important;
}
.textoNegro {
	color: #000000 !important;
}
.textoAzul {
	color: #003A70 !important;
}

.fondoVerde {
	background-color: #82BC00 !important;
}
.fondoAzul {
	background-color: #003A70 !important;
}
.fondoGris {
	background-color: #f1f1f1 !important;
}

.textoItalica {
	font-style: italic !important;
}
.textoCentro {
	text-align: center;
}
.textoJustificado {
	text-align: justify;
}

hr.lineaDorada {
	background-color: #FECE1A; 
	height: 2px; 
}

.pad-top-55 {
	padding-top: 55px;
}
.pad-bot-25 {
	padding-bottom: 25px;
}
.pad-left-15 {
	padding-left: 15px;
}
.pad-right-15 {
	padding-right: 15px;
}
.pad-15 {
	padding: 15px;
}

a.correo {
	color: #FFF;
}
a.correo:hover {
	color: #fed94d;
}
a.flu {
	color: blue;
}

.data {
	display: none;
	background-color: #f1f1f1;
}

.elemento-oculto {
	display: none !important;
}

.img-logo-header {
	width: 400px;
	height: 400px;
}

ul > li {
	list-style: none;
}

.borde-negro {
	border: 1px #333 solid !important;
}

@media only screen and (max-width: 768px) {
	body {
		background-color: #000 !important;
	}
}